# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log

# Build folders
build/
dist/

# Editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary files
.tmp
.temp
backend/.env.save
backend/.env
